[user]
	email = podkovyrin.sergey@gmail.com
	name = Sergey Podkovyrin
[core]
	quotePath = false
	excludesfile = /home/sergey/.config/git/ignore
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
